---
import Layout from '../layouts/Layout.astro';
import MainPageSection from '../components/MainPageSection.astro';
import Header from '../components/Header.astro';
import ProjectsSection from '../components/ProjectsSection'
import Contact from '../components/Contact.astro';
---

<Layout title="Jeanette Crull">
	<Header />
	<MainPageSection id="About" label="About Me">
		<p>
            I am a full-stack software engineer currently based in the Metro Detroit Area, Michigan.
		</p>
	</MainPageSection>
	<MainPageSection id="ProfessionalExperience" label="Professional Experience">
		<h2>Epic Systems</h2>
		<p>Oct 2022 - Dec 2023</p>
		<p>I was a full-stack developer on the Hospital Billing module of Epic, primarily in the insurance space.</p>
	</MainPageSection>
	<MainPageSection id="Projects" label="Projects">
		<ProjectsSection client:idle/>
	</MainPageSection>
	<MainPageSection id="Contact" label="Contact Information">
		<Contact />
	</MainPageSection>
</Layout>

<style>

	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
