---
import "../styles/colorPalette.css"
import GitHubLink from "./ContactLinks/GitHubLink.astro"
---
<div class="contactLinks">
    <GitHubLink />
</div>
<style>
    .contactLinks {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
</style>