---
import "../styles/colorPalette.css"
import Email from "./ContactLinks/Email.astro"
import GitHubLink from "./ContactLinks/GitHubLink.astro"
import LinkedIn from "./ContactLinks/LinkedIn.astro"
---
<div id="ContactInfo">
    <LinkedIn />
    <Email />
    <GitHubLink />
</div>
<style>
    #ContactInfo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>