---
import "../styles/colorPalette.css"
import HeaderBackground from "./Header/HeaderBackground";
const columnCount = 16;
---
<div id="Header">
    <HeaderBackground client:only />
    <div id="NameSection">
        <h1 id="Name">Jeanette Crull</h1>
        <p id="Position">Full-stack engineer</p>
    </div>
</div>

<style define:vars={{columnCount}}>
    #Header {
        min-height: 100vh;
        display: flex;
    }
    #NameSection {
        z-index: 2;
        font-size: 3rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        height: inherit;
        width: 100%;
        background-color: var(--highlight-purple);
        color: black;
        border-color: black;
        border-width: 0 4px;
        border-style: solid;
    }
    #Name, #Position {
        line-height: 1;
    }
</style>
