---
interface Props {
    iconPath?: string;
}

import NavLinks from "./NavLinks.astro";

const { iconPath } = Astro.props;
---

<nav>
    <img src={iconPath} alt="Jeanette Crull" />
    <ul class="DestOpts">
        <NavLinks dest="#About" label="About Me" />
        <NavLinks dest="#ProfessionalExperience" label="Professional Experience" />
        <NavLinks dest="#Projects" label="Projects" />
        <NavLinks dest="#ContactInfo" label="Contact Info" />
    </ul>
</nav>

<style>
    nav {
        background-color: var(--highlight-purple);
        display:flex;
        align-items: baseline;
        justify-content: space-between;
        padding: 0 10%;
    }
    .DestOpts{
        width: max-content;
        float: right;
        display: inline-flex;
        white-space: nowrap;
    }
</style>