---
interface Props {
    iconPath?: string;
}

import NavLinks from "./NavLinks.astro";

const { iconPath } = Astro.props;
---

<nav>
    <a id="LogoLink" href="/Portfolio/index.html#Header"><b><img src={iconPath} alt="Jeanette Crull"  /></b></a>
    <ul class="DestOpts">
        <NavLinks dest="/Portfolio/index.html#About" label="About" />
        <NavLinks dest="/Portfolio/index.html#ProfessionalExperience" label="Experience" />
        <NavLinks dest="/Portfolio/index.html#Projects" label="Projects" />
        <NavLinks dest="/Portfolio/index.html#ContactInfo" label="Contact" emphasized={true}/>
    </ul>
</nav>

<style>
    #LogoLink
    {
        text-decoration: none;
        color: black;
    }
    nav {
        background-color: var(--highlight-purple);
        display:flex;
        align-items: baseline;
        justify-content: space-around;
        border-radius: 0 0 4px 4px;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 3;
    }
    .DestOpts{
        justify-content: right;
        width: min-content;
        display: flex;
        white-space: nowrap;
        padding: 0;
        min-width: 70%;
    }
</style>