---
import ProjectDetailsLayout from "../../layouts/ProjectDetailsLayout.astro";
---
<ProjectDetailsLayout title="Godot Game" imagePath="/Portfolio/Godot.png">
    <div>
        <h2>What is the project?</h2>
        <p></p>
    </div>
    <div>
        <h2>What did I Accomplish?</h2>
        <p></p>
    </div>
    <div>
        <h2>What's next?</h2>
        <p></p>
    </div>

</ProjectDetailsLayout>