---
import ProjectDetailsLayout from "../../layouts/ProjectDetailsLayout.astro";


---
<ProjectDetailsLayout imagePath="/Portfolio/LanPartyApp.png" startDate={new Date(2020,8)} endDate={new Date(2020, 11, 20)} title="LAN Party App" >
    <section>
        <h2>What is the project?</h2>
        <p>
            This is a web app to help people publicise and find local in-person gaming events. This app was made with React, Node, and DynamoDB.
            People could post about events, where they are happening, what games are to be played, and what people need to bring. 
            People could then sign up for these events, as well as send friend requests to other accounts.
        </p>
    </section>
    <section>
        <h2>What did I accomplish?</h2>
        <ul>
            <li>Created API to create a party.</li>
            <li>Created interface for storing locations for parties.</li>
            <li>Created API to add a user to a party.</li>
            <li>Created API to invite friend to parties.</li>
            <li>Created API for requesting a change in party location.</li>
            <li>Created optional age gate for parties.</li>
            <li>Updated styling to improve user experience on desktop.</li>
            <li>Simplified how the buttons for updating friendship statuses are shown.</li>
        </ul>
    </section>

</ProjectDetailsLayout>