---
interface Props {
	title: string;
}

import Nav from "../components/Nav.astro"

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="This is the portfolio website for Jeanette Crull." />
		<meta name="author" content="Jeanette Crull" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Nav />
		<main>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		scroll-behavior: smooth;
		scroll-padding-top: 80px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	main {
		margin: auto;
		padding: 4px;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	body {
		display: contents;
		margin: 0;
	}    
	a, a:visited {
        color: var(--highlight-purple);
    }
</style>
